<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org]">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Pak David</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  	<div class="container mt-5">
  		<h1>Show Product</h1>
  	 	<!-- add hidden field to handle the update -->
  	 		<input type="text" th:field = "*" placeholder="Masukan nama product" class="form-control mb-4 col-4">
  	 		<input type="text" th:field = "*{name}" placeholder="Masukan nama product" class="form-control mb-4 col-4">
  	 		<input type="text" th:field = "*{description}" placeholder="Masukan deskripsi product" class="form-control mb-4 col-4">
  	 		<input type="text" th:field = "*{price}" placeholder="Masukan harga product" class="form-control mb-4 col-4">
  	 		<button class="btn btn-primary">
  	 			Update Product
  	 		</button>
  	</div>
</body>

</html>